{{#extends "base"}}
  {{#block "content"}}
    <table class="table table-bordered">
      <thead class="table-secondary">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Description</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each products}}
          <tr>
            <td scope="row">
              {{this.id}}
            </td>
            <td>
              {{this.name}}
            </td>
            <td>
              {{this.category.name}}
            </td>
            <td>
              {{this.price}}
            </td>
            <td>
              {{this.description}}
            </td>
            <td>
              <a href="/products/{{this.id}}/update" type="button" class="btn btn-success btn-small">
                <i class="bi bi-pencil-square"></i>
              </a>
              <a href="/products/{{this.id}}/delete" type="button" class="btn btn-danger btn-small">
                <i class="bi bi-trash"></i>
              </a>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{/block}}
{{/extends}}